@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Red+Hat+Display&family=Shojumaru&display=swap');*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root{
  --blue-primary-color--:hsl(228, 16%, 69%);
  --blueBrigth-color--:hsl(247, 53%, 23%);
  --fontStyle-body--:"Red Hat Display";
  --fontSize-Paragrapho:16px;
  /*Neutras*/
  --color-Very--blue--: hsl(225, 100%, 98%);
  --color-Desaturated--blue:hsl(224, 23%, 55%);
  --colorDark--blue: hsl(223, 47%, 23%);
}
.sessao-principal{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/pattern-background-desktop.svg);
}
.card{
  width: 20rem;
  height: 30rem;
  background-color: #fff;
  border-radius: .4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card>.img-card{
  position: absolute;
  width: 100%;
  height: 35%;
  top: 0;
  object-fit: cover;
  border-radius: .4rem;
}
.img-card>img{
  width: 100%;
  height: 100%;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}
.title-card{
  position: absolute;
  top: 10rem;
  font-family: var(--fontStyle-body--);
  text-align: center;
  margin: 2rem 0;
}
.title-card>h1{
  color: var(--blueBrigth-color--);
  font-size: var(--fontStyle-body--);
  font-weight:900;
  font-size: 20px;
}
.title-card>p{
  font-size: var(--fontSize-Paragrapho);
  color: var(--color-Desaturated--blue);
}

.container-descri{
  display: flex;
  position: absolute;
  top: 18rem;
  width: 90%;
  background-color: rgba(214, 214, 220, 0.474);
  border-radius: .4rem;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
}
.container-descri>.plan>h3{
  font-family: var(--fontStyle-body--);
  font-size: var(--fontSize-Paragrapho);
  color: var(--blueBrigth-color--);
}
.container-descri>.plan>p{
  font-family: var(--fontStyle-body--);
  color: var(--color-Desaturated--blue);
  font-size: 13px;
}

.plan{
  justify-content:baseline;
}
.container-descri>button{
  border: none;
  font-family: var(--fontStyle-body--);
  color:rgb(103, 94, 150);
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

.container-descri>button:hover{
  text-decoration: none;
}
.btns{
  position: absolute;
  bottom: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btns>button{
  border: none;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
}
.btns>.btn-payment{
  position: relative;
  color: #fff;
  background-color:var(--blueBrigth-color--);
  width: 90%;
  height: 2rem;
  margin: 1rem;
  border-radius: .4rem;
  font-weight: bolder;
  transition: all .2s;
}
.btns>.btn-payment:hover{
  background-color: rgb(87, 86, 130);
}
.btns>.btn-cancel-order{
  color: var(--color-Desaturated--blue);
  font-weight: bolder;
  transition: all .4s;
}
.btn-cancel-order:hover{
  color:slateblue;
  
}