@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Red+Hat+Display&family=Shojumaru&display=swap");
/* Zerando valores padrões */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* Criando variaveis */
:root {
  --blue-primary-color--: hsl(228, 16%, 69%);
  --blueBrigth-color--: hsl(247, 53%, 23%);
  --fontStyle-body--: "Red Hat Display";
  --fontSize-Paragrapho: 16px;
  /*Neutras*/
  --color-Very--blue--: hsl(225, 100%, 98%);
  --color-Desaturated--blue: hsl(224, 23%, 55%);
  --colorDark--blue: hsl(223, 47%, 23%);
}
/* Container da sessão principal */
.sessao-principal {
  background-color: rgb(107, 107, 140);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container do card */
.card-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Card */
.card {
  box-shadow: 1px 1px 1rem #0000;
  width: 20rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 0.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Imagem do card - card */
.card > .img-card {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 0;
  object-fit: cover;
  border-radius: 0.4rem;
}
/* imagem de fundo  */
.img-card > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
/* Titulo do card - container */
.title-card {
  position: absolute;
  top: 10rem;
  font-family: var(--fontStyle-body--);
  text-align: center;
  margin: 2rem 0;
}
/* Formatação do titulo */
.title-card > h1 {
  color: var(--blueBrigth-color--);
  font-size: var(--fontStyle-body--);
  font-weight: 900;
  font-size: 20px;
}
/* Paragrafo do paragrafo */
.title-card > p {
  font-size: var(--fontSize-Paragrapho);
  color: var(--color-Desaturated--blue);
}
/* Container da descrição do card */
.container-descri {
  display: flex;
  position: absolute;
  top: 18rem;
  width: 90%;
  background-color: rgba(214, 214, 220, 0.474);
  border-radius: 0.4rem;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
}

/* Estilizando subtitulo do card */
.container-descri > .plan > h3 {
  font-family: var(--fontStyle-body--);
  font-size: var(--fontSize-Paragrapho);
  color: var(--blueBrigth-color--);
}
/* paragrafo do plano */
.container-descri > .plan > p {
  font-family: var(--fontStyle-body--);
  color: var(--color-Desaturated--blue);
  font-size: 13px;
}
/* Planos */
.plan {
  justify-content: baseline;
}

/* Botão para adquirir plano*/
.container-descri > button {
  border: none;
  font-family: var(--fontStyle-body--);
  color: rgb(103, 94, 150);
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}
/* Animação de hover  */
.container-descri > button:hover {
  text-decoration: none;
}
/* Botões para cancelar ou finalizar compra */
.btns {
  position: absolute;
  bottom: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Selecionando todos os botões do container */
.btns > button {
  border: none;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
}
/* Botão de pagamento */
.btns > .btn-payment {
  position: relative;
  color: #fff;
  background-color: var(--blueBrigth-color--);
  width: 90%;
  height: 2rem;
  margin: 1rem;
  border-radius: 0.4rem;
  font-weight: bolder;
  transition: all 0.2s;
}
/* Adicionando animação de hover */
.btns > .btn-payment:hover {
  background-color: rgb(87, 86, 130);
}
/* Estilização do botão para cancelar compra */
.btns > .btn-cancel-order {
  color: var(--color-Desaturated--blue);
  font-weight: bolder;
  transition: all 0.4s;
}

/* Animação de hover no botão de cancelar compra */
.btn-cancel-order:hover {
  color: slateblue;
}

@media(max-width:320px){
  .sessao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .card{
    width: 90%;
  }
}